<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<title>新增</title>
<body>
<h1>新增</h1>
<p>新增文章</p>
<form action="/addarticle" method="post">
   标题： <input type="text" name="article_title"><br/>
   内容： <input type="text" name="article_content"><br/>
   来源：<input type="text" name="release"><br/>
   作者：<input type="text" name="author"><br/>
   图片： <input type="text" name="image"><br/>
    <input type="submit" name="提交">
</form>

</body>
</html>